.container
  .row
    .col-md-8.offset-md-2
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          %label Email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .form-group
          %label password
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        - if devise_mapping.rememberable?
          .form-check
            = f.check_box :remember_me, class: 'form-check-input'
            %label.form-check-label= f.label :remember_me
        .actions
          = f.submit "Log in", class: 'btn btn-primary float-right'
      = render "devise/shared/links"
