.container
  .row
    .col-md-8.offset-md-2
      .card.mt-3
        .card-header      
          Card
        .card-body
          = form_with(model: card, local: true) do |form|
            - if card.errors.any?
              #error_explanation
                %h2
                  = pluralize(card.errors.count, "error")
                  prohibited this card from being saved:
                %ul
                  - card.errors.full_messages.each do |message|
                    %li= message
            .form-group
              %label Title
              = form.text_area :title, id: :card_title, class: 'form-control', required: true
            .form-group
              %label Description
              = form.text_area :description, id: :card_description, class: 'form-control', required: true
            .form-group
              %label Status
              = form.select :status, options_for_select(status, form.object.status), {}, {class: 'form-control',prompt: 'Please select', required: true, id: :card_status}
            = form.hidden_field :user_id, :value => current_user.id
            .form-group
              %label Assignee
              = form.select :assignee_id,options_for_select(users, form.object.assignee_id), {},{prompt: 'Please select', required: true, id: :card_assignee_id, class: 'form-control'}
            .form-group
              %label Due Date
              = form.date_select :due_date, id: :card_due_date, class: 'form-control'
            .form-group
              %label Ticket Type
              = form.select :ticket_type, options_for_select(ticket_types, form.object.ticket_type), {},{prompt: "Please select", :required => true, id: :card_ticket_type, class: 'form-control'}
            .actions
              = submit_tag 'Create', class: 'btn btn-primary float-right'
              = link_to 'Back', root_path, class: 'btn btn-default float-left'
