:css
  .sortable_list {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }

  .sortable_list li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }

.container
  .row.mt-3
    = form_tag cards_path, method: :get do
      .input-group.mb-3
        = text_field_tag 'query', @query || '',placeholder: 'Search by title', class: 'form-control'
        .input-group-append
          = submit_tag 'Search',class: 'btn btn-outline-secondary'
          = link_to 'Clear', cards_path,class: 'btn btn-outline-secondary'
  .row.mt-3
    - @cards.each do |cards|
      .col-md-3.col-lg-3.col-sm-3
        .card
          .card-header
            = cards[0]
          .card-body
            %ul#sortable.sortable_list.connectedSortable{id: cards[0]}
              - cards[1].each do |card|
                %a{href: "cards/#{card.id}", id: card.id}
                  %li.ui-state-default
                    = card.title


:javascript
  $(function() {
    $( ".sortable_list" ).sortable({
      connectWith: ".connectedSortable",
      receive: function(event, ui) {
        var new_status = this.id.split('_')[1];
        var item_id = ui.item[0].id;
        var params = {"card": {"status": new_status}, "id": item_id};
        $.ajax({
        type: 'PUT',
        url: '/cards/'+ item_id,
        data: params,
        dataType: 'JSON'
        }).done(function (data) {
          alert('Sucess');
        }).fail(function (data) {
          alert('Fail');
        });
      }         
    }).disableSelection();
  });
