%p#notice= notice

.container
  .row
    .col-md-10.offset-md-1
      .card.mt-3
        .card-header      
          Card Details
        .card-body
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th Title
                %th Description
                %th Creator
                %th Assignee
                %th Status
                %th Ticket Type
                %th Due Date
            %tbody
              %tr
                %td= @card.title
                %td= @card.description
                %td= @card.user.email
                %td= @card.assignee.email
                %td= @card.status
                %td= @card.ticket_type
                %td= @card.due_date
          .row
            = link_to 'Edit', edit_card_path(@card), class: 'btn btn-primary'
            = link_to 'Delete',card_path(@card), method: :delete, class: 'btn btn-danger'
            = link_to 'Back', root_path, class: 'btn btn-default'