%nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
  %a.navbar-brand{:href => root_path} Agile Board  
  - if user_signed_in?
    .float-right
      = link_to 'New Card', new_card_path, class: 'btn btn-outline-success'
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success'