%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AgileBoard
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    = javascript_include_tag 'application'
    = javascript_include_tag "https://code.jquery.com/jquery-1.12.4.js"
    = javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  %body
    = render 'layouts/header'
    = yield